/* set the root values fot the ring colors */
:root {
    --ring-base-color: lightgrey;
    --ring-primary-color: green;
    --ring-secondary-color: lightblue;
  }

.larger {
    font-size: 150%; /* 150% larger than base text size */
}
/* set default font for document body to roboto */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: grey;
}
.headline {
    /* center all elements vertical and horizontal */
    display: flex;
    align-items: center;
}
/* center everything inside the div workTimeCanvas */
#workTimeCanvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 200px;
}

/* set top and bottom padding to div with id workTimeCircle */
#workTimeCircle {
    padding: 0px 0;
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    padding-right: 15px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: grey;
    margin: 5px auto;
    transition: all 0.3s ease;
}

.menu {
    height: 300px;
    width: 0; /* Start width to hide the menu initially */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* set background color to color of body */
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s; /* Animation for sliding in and out */
    padding-top: 20px;
    color: white;
}

.menu input, .menu label {
    display: block;
    margin: 10px;
}

.menuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: darkslategrey;
    padding-left: 0px;
    padding-bottom: 0px;
    text-align: left;
    color: grey;
}

.settingHeadline {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.settingHeadline::first-letter {
    font-size: 150%;  /* Macht den ersten Buchstaben doppelt so groß */    
    color: grey;
}
.settingLabel {
    color: darkslategrey;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: grey;
}

button {
    cursor: pointer;
}
.closeButton{
    /* remove all default styles */
    padding-left: 40px;
    background: none;
    color: darkslategrey;
    border: none;
}

#lunchBreak {
    width: 40px; /* Verkleinert die Breite des Eingabefeldes */
    height: 20px; /* Verkleinert die Höhe des Eingabefeldes */
    font-size: 12px; /* Verwendet eine kleinere Schriftgröße */
    padding: 2px 5px; /* Reduziert das Innenpolster, um das Eingabefeld schlanker zu machen */
    border: 1px solid #ccc; /* Fügt eine feine Umrandung hinzu, passend zum kleineren Design */
}

